@import "src/main.scss";
$sideMenuWidth: 15rem;
$flexContainerPaddingRight: 1rem;

$contentAreaPadding: $sideMenuWidth / 20;

div#flex-container {
    margin: 0;padding: 0;
    display: flex;
    padding-right: $flexContainerPaddingRight;

    div {
        flex-grow: 1;        

        &#mui-content-area1 { 
            padding-left: $contentAreaPadding; 

            &.fadeout {
                opacity: .2;
                filter: brightness(55%);
            }
        }
    }
}